@charset "UTF-8";
@font-face {
    font-family: 'fonte';
    src: url(fontes/Gruppo/Gruppo-Regular.ttf)
}

*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-gap: 0.5rem;
    grid-template-areas:
    "cabeca cabeca cabeca"
    "ladoe princi ladod"
    "rodape rodape rodape";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: #181b69;
}

.grad_h{
    grid-area: cabeca;
    background-image: linear-gradient(to top,#292c93, black);
    display: flex;
}

.logo{
    width: 10%;
    border: solid red;
}

.nome{
    color: white;
    font-size: 25px;
    font-family: 'fonte';
    margin-top: 5.5rem;
    position: absolute;
    left: 155px;

}

.icones{
    width: 40px;
    height: auto;
}

nav li{
    display: flex;
    display:inline-block;
    margin-left: 20rem;
}

.grad_m{
    grid-area: princi;
    background-color: white;
    font-size: 1em;
    color: #3b3e9e;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
    
   
}

.grad_f{
    grid-area: rodape;
    background-image: linear-gradient(to bottom,#292c93, black)
}

/*formulario*/
.grad_mcadastro{
    grid-area: princi;
    background-color: white;
    font-size: 1em;
    color: #3b3e9e;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
    border: solid black 5px;
}

#titulo{
    font-family: 'fonte';
    color:  #1d2192;
    margin-left: 7%;
}

#subtitulo{
    font-family: Arial, Helvetica, sans-serif;
    color:#2e32a5;
    margin-left: 4%;
}
fieldset{
    border: 0;
}

input, select, textarea, button{
    border-radius: 5px;
}

.campo{
    margin-bottom: 1em;
}

.campo label{
    margin-bottom: 0.2em;
    color:#5b60f1;
    display: block;
}

fieldset .grupo .campo{
    float: left;
    margin-right: 1em;
}

.campo input[type="text"], .campo input[type="email"], .campo select, .campo textarea{
    padding: 0.2em;
    border: 1px solid rgb(45, 45, 168);
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
}

.campo select option{
    padding-right: 1em;
}

.campo input:focus, .campo select:focus, .campo textarea:focus{
    background-color: white;
}

.botao{
    font-size: 1.2em;
    background-color: rgb(31, 31, 121);
    border: 0;
    margin-bottom: 1em;
    color: white;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao:hover{
    background-color: #ccbbff;
    box-shadow: inset 2px 2px 2px rgba(0,0,0, 0.2);
    text-shadow: none;

}
